* {
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 500;
}

body {
    overflow: hidden;
    margin: 0;
}

/* Loader */

.loading {
    background-color: #f0efeb;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    z-index: 1;
    margin-left: 0.5rem;
    font-size: 3vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.dot {
    border-radius: 50%;
    animation: load 0.5s alternate infinite;
    padding: 10px;
}

.dot:nth-child(2) {
    animation-delay: 0.16s;
}

.dot:nth-child(3) {
    animation-delay: 0.32s;
}

.dot:nth-child(4) {
    animation-delay: 0.48s;
}

.dot:nth-child(5) {
    animation-delay: 0.64s;
}

.dot:nth-child(6) {
    animation-delay: 0.8s;
}

.dot:nth-child(7) {
    animation-delay: 0.96s;
}

@keyframes load {
    from {
        transform: scaleX(1);
    }

    to {
        transform: translateY(-5rem) scaleX(1);
    }
}


/* INTRO */
#currentPhoto {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

#lottie {
    background-color: transparent;
    width: 100%;
    display: block;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1.0;
    z-index: 1;
}

.container {
    padding-top: 40px;
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .container {
        padding-top: 10px;
    }
}

@media only screen and (min-width: 1100px) {
    .container {
        padding-top: 90px;
    }
}

@media only screen and (min-width: 1400px) {
    .container {
        padding-top: 110px;
    }
}

/* Information Modal */

#wrap {
    padding-bottom: 10px;

}

.info {
    font-size: 1.2rem;
    position: relative;
    left: 2vw;
    top: 2vw;
}

.text {
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: white;
}

a.close {
    font-size: 1.2rem;
    right: 10px;
    top: 10px;
    color: black;
    position: absolute;
}

#popup {
    word-break: keep-all;
    color: black;
    background: #fff;
    width: 20rem;
    padding: 3px;
    padding-left: -13px;
    padding-right: 40px;
    border-radius: 25px;

}

.expand {
    font-size: 1.2rem;
}

.seperate {
    padding-left: 40px;
    list-style-type: decimal;
}

i.uil-question-circle {
    font-size: 3rem;
}

i.uil-times {
    font-size: 1.5rem;
}

.modal {
    overflow-y: visible !important;
}



/* THREE JS */
#three-canvas {
    position: absolute;
    left: 0;
    top: 0;
    cursor: grab;
}